body {
    margin: 0;
    background: radial-gradient(azure, lightskyblue);
}
* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}
.nav-links {
    width: 5px;
    height: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
}
h1 {
    color: rgb(13, 179, 216);
    text-shadow: 2px 2px 4px #01172d;
  }
  
h3 { color:rgb(34, 6, 96) ;
    text-shadow: 1px 1px 2px white, 0 0 25px  #f2f4f7, 0 0 5px #313539;
}
.cat-title { color:rgb(34, 6, 96) ;
    text-shadow: 1px 1px 2px white, 0 0 25px  #f2f4f7, 0 0 5px #313539;
}
.game-title {
    text-align: center;
    font-size: 3em;
    margin-bottom: 15px;
    margin-top: 10px;
}
.category {
    text-align: center;
    margin-bottom:40px;
    margin-top: 0px;
}
.game-info {
    font-size: 1.5em;
}
.cat-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

   
    margin-left: 20px;
    margin-right: 20px;
}
.cat-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin: 20px;
    justify-content: center;
    grid-gap: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cat-title {
    text-align: center;
    font-size: 30px;
}

.card {
    background-color: rgb(232, 233, 235);
    height: 176px;
    width: 176px;
    border: 2px solid rgb(4, 4, 98);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.5), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}

img {
    height: 172px;
    width: 172px; 
    object-fit:cover;
    align-self: auto;
}
/* <!--fruits page --> */
.fruit-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    justify-content: center;
    grid-gap: 100px;
}

/* alphabets */
.alpha-container {
    display: grid;
    grid-template-columns: repeat(26,auto);
    margin: 0;
    grid-gap: 3px;
    justify-content: center;
}
.alpha-card {
    background: rgb(158, 215, 250);
    height: 65px;
    width: 45px;
    /* border: 1px solid #45abe6; */
    text-align: center;
    font-size: 40px;
    border: 2px solid rgb(4, 4, 98);
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}
.blank-space {
    width: 100%;
    height: 150px;
}
