body {
    margin: 0;
    background: radial-gradient(azure, lightskyblue);
}
* {
    box-sizing: border-box;
}
html {
    min-height: 100vh;
}

.game-title {
    text-align: center;
    font-size: 3em;
}
.category {
    text-align: center;
}

.game-info {
    font-size: 1.5em;
}
.cat-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;

   
    margin-left: 20px;
    margin-right: 20px;
}
.cat-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    margin: 20px;
    justify-content: center;
    grid-gap: 20px;
}
.img-title {
    text-align: center;
    font-size: 30px;
}

.card {
    background-color: rgb(232, 233, 235);
    height: 175px;
    width: 175px;
    border: 4px solid #049020;
    
}

img {
    height: 166px;
    width: 166px;
    object-fit:cover;
}
/* <!--fruits page --> */
.fruit-container {
    display: grid;
    grid-template-columns: repeat(5,auto);
    /* margin: 20px; */
    justify-content: center;
    grid-gap: 20px;
}
.fruit-card {
    background-color: rgb(232, 233, 235);
    height: 100px;
    width: 100px;
    border: 4px solid #049020;
    
}
/* alphabets */
.alpha-container {
    display: grid;
    grid-template-columns: repeat(25,auto);
    margin: 0;
    justify-content: center;
    /* grid-gap: 20px; */
}
.alpha-card {
    background-color: rgb(232, 233, 235);
    height: 45px;
    width: 45px;
    border: 1px solid #45abe6;
    
}
